body{
  *{
    box-sizing: border-box;
  }
}


li{
  display: inline-flex;
  list-style: none;
}

a{
  text-decoration: none;
  color: rgb(0, 221, 102);
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 13%;
  margin-right: 13%;
}

.header {
  z-index: 1;
  background: rgba(255,255,255,0.99);
  padding-top: 2%;
  padding-left: 200px;
  position: fixed;
  top: -2%;
  left: -10%;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: .13em;
  color: #0d5;
  font-size: 12px;
}
.logo{
  margin-left: -1.8%;
}
.header-icon{
  padding-right: 2%;
  padding-left: 10%;
  margin-left: -5%;
  margin-right: 8%;
}
.header-logo{
  letter-spacing: 3px;
}
.header-menu{
  padding-right: 10%;
  margin-right: -1.5%;
}






.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}
.banner-fancy-text{
  padding-top: 6%;
  padding-bottom: 2.8%;
  font-family: 'Alegreya', serif;
  color: rgb(51,51,51);
  font-weight: lighter;
  font-style: italic;
  font-size: 62px;
}
.top-image{
  width: 100%;
  max-width: 100%;
  max-height: 635px;
  height: 134%;
  object-fit: cover;
  justify-content: space-between;
  margin-bottom: 1.7%;
}
.details{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 70px;
}
.top-paragraph{
  font-family: 'Alegreya', serif;
  color: rgb(51,51,51);
  width: 47%;
  font-size: 18px;
}
.schedule{

}
.button{
    border: 2px solid rgb(0,221,85);
    border-radius: 3px;
    background: rgb(0,221,85);
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    margin-bottom: 3.5%;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
    letter-spacing: .13em;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    transition: all 190ms ease;
}

.button:hover{
  border: 2px solid rgb(0,236,91);
  background: rgb(0,236,91);
}




.three-boxes{
  display: inline-flex;
  align-items: center;
  padding-top: 12%;
  padding-bottom: 12%;  
  font-family: 'Alegreya', serif;
}
.box-one{
  width: 33.3333%;
}
.box-two{
  width: 33.3333%;
  padding-left: 2%;
  padding-right: 2%;
}
.box-three{
  width: 33.3333%;
}
.box-link{
  color: rgb(0,221,102);
  font-size: 18px;
}
.box-h{
  font-size: 24px;
  font-weight: lighter;
}
.box-p{
  font-size: 18px;
  font-weight: lighter;
}




.about-div{
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 500px;
}

.about-body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  max-width: 575px;
  max-height: 355px;
  width: 100%;
  height: 100%;
  background: #f0f0f0; 
  left: 0%;
  bottom: 50%;
  top: 12%;
  font-family: 'Alegreya', serif;
  color: rgb(51,51,51);
}
.about-h{
  font-size: 42px;
  margin-left: 10%;
}
.about-p{
  font-size: 24px;
  margin-left: 10%;
  margin-right: 10%;
}

.about-button{
  background: rgb(0,221,85);
  border: 2px solid rgb(0,221,85);
  height: 50px;
  border-radius: 5%;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
  padding-left: 5%;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
  width: 18%;
  height: 6%;
  font-size: 15px;
  letter-spacing: 0.10em;
  color: white;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  transition: all 190ms ease;
}

.about-button:hover{
  border: 2px solid rgb(0,236,91);
  background: rgb(0,236,91);
}
.about-image-box{
}
.about-image{
  width: 965px;
  height: 480px;

}





.mid-phrase{
  padding-top: 15%;
  font-size: 28px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 74.995%;
  font-weight: lighter;
}
.mid-h1{
  font-family: 'Alegreya', serif;
  text-align: center;
  font-weight: 100;
  line-height: 125%;
}
.mid-p{
  font-family: 'Alegreya', serif;
  text-align: center;
  font-size: 17px;

}


.hr{
  border: 100% solid black;
}






.about-div-bottom{
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 500px;
  margin-top: 17%;
  margin-bottom: 11%;
}

.about-body-bottom{
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 575px;
  max-height: 355px;
  width: 100%;
  height: 100%;
  background: #f0f0f0; 
  left: 55%;
  bottom: 50%;
  top: 12%;
  font-family: 'Alegreya', serif;
  color: rgb(51,51,51);
}
.about-h-bottom{
  font-size: 42px;
  margin-left: 10%;
}
.about-p-bottom{
  font-size: 24px;
  margin-left: 10%;
  margin-right: 10%;
}

.about-button-bottom{
  width: 35%;
  background: rgb(0,221,85);
  border: 2px solid rgb(0,221,85);
  border-radius: 5%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 6%;
  padding-left: 6%;
  margin-left: 10%;
  height: 32px;
  letter-spacing: 0.10em;
  color: white;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  transition: all 190ms ease;
}
.about-button-bottom:hover{
  border: 2px solid rgb(0,236,91);
  background: rgb(0,236,91);
}
.about-image-box-bottom{
}
.about-image-bottom{
  width: 965px;

}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 1px;               
  background-color: rgb(240,240,240);
  height: 35px;
}
#bottom-hr{
  margin-left: -50%;
  width: 168%;               
  background-color: rgb(240,240,240);
  height: 1px;

}






.bottom-phrase{
  padding-top: 5%;
  font-size: 28px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 74.995%;
  font-weight: lighter;
}
.bottom-h1{
  font-family: 'Alegreya', serif;
  text-align: center;
  font-weight: 100;
  line-height: 125%;
}
.bottom-h1-2{
  margin-top: -3.5%;
  font-family: 'Alegreya', serif;
  text-align: center;
  font-weight: 100;
  line-height: 125%;
}


.schedule-button{
  background: rgb(0,221,85);
  border: 2px solid rgb(0,221,85);
  height: 50px;
  padding-top: 11px;
  border-radius: 5%;
  text-align: center;
  padding-top: 10px;
  margin-right: 44%;
  margin-left: 44%;
  margin-bottom: 5%;
  font-size: 15px;
  letter-spacing: 0.10em;
  color: white;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  transition: all 190ms ease;
}
.schedule-button:hover{
  border: 2px solid rgb(0,236,91);
  background: rgb(0,236,91);
}



.footer-div{
  display: inline-flex;
  justify-content: center;
}
.footer{
  padding-bottom: 8%;
}
.footer-a{
  text-decoration: none;
  color: rgb(51,51,51);
  font-family: 'Alegreya', serif;
  font-size: 14px;
  padding: 4px;
}




